
  .rounded-circle{
    border-radius: 50%;
    border-style: solid;
   
  }
  .content{
    z-index: 10;
    position: relative;
  }
  .header{
    font-size: 2rem;
    margin: 20px;
  }
  .main-text{
    font-size: 2.5rem;
    color: white
  }
  .about-me{
    color:white;
    background-color: #3f3f3f;
    padding-bottom: 50px;
  }
  .experience{
    color:white;
    background-color: #282828;
    padding-bottom: 50px;
  }
  .contact{
    color:white;
    background-color: #282828;
    padding-bottom: 50px;
  }
  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Sends particles to the background */
}

  .projects{
    color:white;
    background-color: #3f3f3f;
    padding-bottom: 50px;
  }
  .card{
    max-width: 500px;
    width: 90%;
    background-color: #575757;
    margin:10px;
    padding:10px;
    border-radius:5px;
    transition: transform 0.3s ease-in-out;
  }
  hr{
    color: #9cb08d;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .card:hover {
    transform: scale(1.02);
}
.icon svg path, 
.icon svg rect {
    stroke: white;
    transition: stroke 0.3s ease-in-out;
}

.icon:hover svg path, 
.icon:hover svg rect {
    stroke: #9cb08d; /* Change to any color you want */
}
.linkedin svg path {
  fill: white;
  transition: fill 0.3s ease-in-out;
}

.linkedin:hover svg path {
  fill: #9cb08d; /* Change to any color you want */
}
.github-button{
  border-style: solid;
  border-color: #9cb08d;
  border-width: 2px;
  padding:5px;
  border-radius:5px;
  margin-top: 5px;
}
.resume-button{
  border-color: #9cb08d;
  padding:5px;
  border-radius:5px;
  margin-top: 5px;
}
.resume-button svg path {
  fill: white;
  transition: fill 0.3s ease-in-out;
}
.resume-button:hover svg path {
  fill: #9cb08d; /* Change to any color you want */
}
.github-button:hover{
  background-color: #9cb08d;
}
.language{
  padding-left:5px;
  padding-right:5px;
  border-radius:10px;
  background-color:#9cb08d;
}
.job-title{
  font-size: 1.1rem;
}
.date{
  font-size: 1.0rem;
}
.description{
  list-style-type:disc;
  font-size: 0.75rem;
  padding-left: 10px;
}
  p{
    color:white
  }

  .roboto-font {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }








